@page
@model LoginModel
@{
    ViewData["Title"] = "Вход";
}

<div class="container">
    <form method="post">
        <input type="text" placeholder="Логин" name="login">
        <input type="text" placeholder="Пароль" name="password">
        <button type="sumbit">Вход</button>
    </form>
</div>