@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

<div class="container">
    <form method="post">
        <input type="text" placeholder="Логин" name="login">
        <input type="text" placeholder="Пароль" name="password">
        <button type="sumbit">Зарегестироваться</button>
    </form>
</div>